<?xml version="1.0"?>
<config>
  <modules>
    <CIN_ProductFilter>
      <version>0.1.0</version>
    </CIN_ProductFilter>
  </modules>
  <frontend>
    <layout>
        <updates>
            <productfilter>
                <file>cin_productfilter.xml</file>
            </productfilter>
        </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <productfilter>
        <class>CIN_ProductFilter_Helper</class>
      </productfilter>
    </helpers>
	<blocks>
	  <productfilter>
		<class>CIN_ProductFilter_Block</class>
	  </productfilter>
	</blocks>
	<models>
	  <productfilter>
		<class>CIN_ProductFilter_Model</class>
		<resourceModel>productfilter_mysql4</resourceModel>
	  </productfilter>
	  <productfilter_mysql4>
		<class>CIN_ProductFilter_Model_Mysql4</class>
		<entities>		  
			  <productfilter>
				<table>productfilter</table>
			  </productfilter>
		</entities>
	  </productfilter_mysql4>
	</models>
	<resources>
	  <!--productfilter_setup>
		<setup>
		  <module>CIN_ProductFilter</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </productfilter_setup-->
	  <productfilter_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </productfilter_write>
	  <productfilter_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </productfilter_read>
	</resources>
  </global>
</config> 
